In [179]:
import pandas as pd
%matplotlib inline

In [180]:
budget = pd.read_csv('budget_data.csv')

In [181]:
budget.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [182]:
budget.mean()

Profit/Losses    446309.046512
dtype: float64

In [183]:
budget.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [184]:
total_months = budget.count()[0]
total_months

86

In [185]:
# Set the date as the index to the DataFrame
budget.set_index(pd.to_datetime(budget['Date'], infer_datetime_format=True), inplace=True)
budget.head()

                Date  Profit/Losses
Date
2010-01-01  Jan-2010         867884
2010-02-01  Feb-2010         984655
2010-03-01  Mar-2010         322013
2010-04-01  Apr-2010         -69417
2010-05-01  May-2010         310503

In [186]:
budget.drop(columns=['Date'], inplace=True)
budget.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [187]:
total_profits = budget.sum()[0]
total_profits

38382578

In [188]:
# Calculate the monthly change in profits/losses using the 'shift()' function
monthly_profit = (budget - budget.shift(1))
monthly_profit.head()

            Profit/Losses
Date
2010-01-01            NaN
2010-02-01       116771.0
2010-03-01      -662642.0
2010-04-01      -391430.0
2010-05-01       379920.0

In [189]:
average_change = monthly_profit.mean()
average_value = average_change[0].round(2)
average_value

-2315.12

In [190]:
greatest_increase = monthly_profit.max()
greatest_increase.head()

Profit/Losses    1926159.0
dtype: float64

In [191]:
greatest_decrease = monthly_profit.min()
greatest_decrease.head()

Profit/Losses   -2196167.0
dtype: float64

In [192]:
monthly_profit.describe(include='all')

       Profit/Losses
count   8.500000e+01
mean   -2.315118e+03
std     7.634372e+05
min    -2.196167e+06
25%    -3.686650e+05
50%     7.724200e+04
75%     3.983190e+05
max     1.926159e+06

In [193]:
monthly_profit.iloc[monthly_profit.columns.get_loc('Profit/Losses')]

Profit/Losses   NaN
Name: 2010-01-01 00:00:00, dtype: float64

In [194]:
max_value = greatest_increase.iloc[0].round(0)
max_value

1926159.0

In [195]:
min_value = greatest_decrease.iloc[0].round(0)
min_value

-2196167.0

In [196]:
 # Set the index as the 'Profit/Losses' column
greatest_profit = monthly_profit.loc[monthly_profit['Profit/Losses'] == greatest_increase.iloc[0]].head()
greatest_profit


# val_mask = monthly_profit == max_value
# val_mask
# # monthly_profit[val_mask].index
# # monthly_profit[max_value].index

# date = val_mask.index[val_mask['Profit/Losses']].tolist()
# date
# s = str(date)
# import datetime
# e = '%y%m%d-%H:%M:%S.%f'
# d = datetime.datetime.strptime(s, e)
# print(datetime.datetime.strftime(d, '%Y-%m-%d'))

# select_indices = list(np.where(df["BoolCol"] == True)[0])
    
    
# greatest_profit.index[greatest_profit['Profit/Losses'] == True].tolist()

# greatest_profit.index[greatest_profit['Profit/Losses']].tolist()

            Profit/Losses
Date
2012-02-01      1926159.0

In [197]:
max_change = greatest_increase[0]

In [198]:
print("Financial Analysis")
print("---------------------------------")
print(f"Total months: {total_months}")
print(f"Total: ${total_profits}")
print(f"Average Change: ${average_value}")
print(f"Greatest Increase in Profits: Feb-2012 (${max_value})")
print(f"Greatest Decrease in Profits: Sep-2013 (${min_value})")

Financial Analysis
---------------------------------
Total months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)

In [199]:
print(f"Greatest Decrease in Profits: Sep-2013 (${min_value})")

Greatest Decrease in Profits: Sep-2013 ($-2196167.0)